In [135]:
import pandas as pd
from IPython.display import display, Markdown

#Part 1
acc=pd.read_csv("acc.csv")
acc=acc.rename(columns={'Unnamed: 0':'Rank','Unnamed: 1':'Player','Unnamed: 2':'Class','Unnamed: 3':'Pos','Unnamed: 4':'School','Totals':'Totals G','Unnamed: 6':'MP','Unnamed: 7':'TRB','Unnamed: 8':'AST','Unnamed: 9':'STL','Unnamed: 10':'BLK','Unnamed: 11':'TOV','Unnamed: 12':'PF','Unnamed: 13':'PTS','Shooting':'Shooting FG%','Unnamed: 15':'2P%','Unnamed: 16':'3P%','Unnamed: 17':'FT%','Advanced':'Advanced PER','Unnamed: 19':'WS','Unnamed: 20':'BPM'})
acc=acc.drop(0).reset_index()
acc.head()

acc['MP']=acc['MP'].astype(str).astype(int)
acc['TRB']=acc['TRB'].astype(str).astype(int)
acc['PTS']=acc['PTS'].astype(str).astype(int)
acc['AST']=acc['AST'].astype(str).astype(int)
acc['BLK']=acc['BLK'].astype(str).astype(int)

#Part 2
acc['PTS'].sum()

acc[['Player','MP']].sort_values(by='MP',ascending=False).head(1)


acc[['Player','MP']].sort_values(by='MP',ascending=False).head(1)

acc[['Player','TRB']].sort_values(by='TRB',ascending=False).head()

#Part 3
acc_500=acc.query('MP>500')
acc_500.sort_values(by='AST',ascending=False).head(1)[['Player']]
acc.sort_values(by='AST',ascending=False).head(3)[['Player']]
acc.sort_values(by='BLK',ascending=False).head(3)[['Player']]

#Part 4
acc.groupby('School').sum()[['PTS']]
acc.groupby('School').sum()[['AST']]
acc.groupby('School').sum()[['PTS']].sort_values(by='PTS',ascending=False).head(3)

                 PTS
School
NC State        3101
North Carolina  3032
Duke            2830